Repository opentelekomcloud-docs/mapreduce-service: changes, and which Zuul jobs are due for each by the changed paths.
All: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

build-otc-mrs-operation-guide-lts:
  parent: otc-tox-docs
  description: Build operation-guide-lts document using tox
  vars:
    tox_envlist: operation-guide-lts

build-otc-mrs-operation-guide:
  parent: otc-tox-docs
  description: Build operation-guide document using tox
  vars:
    tox_envlist: operation-guide

Update content
  umn/source/fusioninsight_manager_operation_guide_applicable_to_3.x/alarm_reference_applicable_to_mrs_3.x/alm-12081user_ommdba_expired.rst
Due: none

Update content
  api-ref/source/apis/index.rst
  api-ref/source/apis/job_execution_object_apis_v1_not_recommended/canceling_job_execution.rst
  api-ref/source/apis/job_execution_object_apis_v1_not_recommended/deleting_a_job_execution_object.rst
  api-ref/source/apis/job_execution_object_apis_v1_not_recommended/index.rst
  api-ref/source/apis/job_execution_object_apis_v1_not_recommended/querying_job_execution_object_details.rst
  api-ref/source/apis/job_execution_object_apis_v1_not_recommended/querying_the_job_execution_object_list.rst
  api-ref/source/apis/job_object_apis_v1_not_recommended/adding_a_job_and_executing_the_job.rst
  api-ref/source/apis/job_object_apis_v1_not_recommended/creating_a_job_object.rst
  api-ref/source/apis/job_object_apis_v1_not_recommended/deleting_a_job_object.rst
  api-ref/source/apis/job_object_apis_v1_not_recommended/executing_a_job_object.rst
  api-ref/source/apis/job_object_apis_v1_not_recommended/index.rst
  api-ref/source/apis/job_object_apis_v1_not_recommended/querying_exe_object_details.rst
  api-ref/source/apis/job_object_apis_v1_not_recommended/querying_job_object_details.rst
  api-ref/source/apis/job_object_apis_v1_not_recommended/querying_the_exe_object_list_of_jobs.rst
  api-ref/source/apis/job_object_apis_v1_not_recommended/querying_the_job_object_list.rst
  api-ref/source/apis/job_object_apis_v1_not_recommended/updating_a_job_object.rst
Due: none

Synchronize Component Operation Guide (LTS)
  doc/component-operation-guide-lts/source/using_flink/flink_configuration_management/index.rst
  doc/component-operation-guide-lts/source/using_flink/flink_configuration_management/jobmanager_and_taskmanager.rst
  doc/component-operation-guide-lts/source/using_hbase/common_issues_about_hbase/how_do_i_delete_residual_table_names_in_the_hbase_table-lock_directory_of_zookeeper.rst
  doc/component-operation-guide-lts/source/using_hbase/common_issues_about_hbase/index.rst
  doc/component-operation-guide-lts/source/using_hbase/common_issues_about_hbase/why_does_the_hbase_bulkload_task_one_table_has_26_tb_data_consisting_of_210000_map_tasks_and_10000_reduce_tasks_fail.rst
  doc/component-operation-guide-lts/source/using_hdfs/faq/index.rst
  doc/component-operation-guide-lts/source/using_hdfs/faq/when_does_a_balance_process_in_hdfs_shut_down_and_fail_to_be_executed_again.rst
  doc/component-operation-guide-lts/source/using_hdfs/faq/why_does_the_distcp_command_fail_in_the_secure_cluster_causing_an_exception.rst
  doc/component-operation-guide-lts/source/using_hetuengine/function_and_udf_development_and_application/hetuengine_function_plugin_development_and_application.rst
  doc/component-operation-guide-lts/source/using_hetuengine/function_and_udf_development_and_application/hive_udf_development_and_application.rst
  doc/component-operation-guide-lts/source/using_hetuengine/function_and_udf_development_and_application/index.rst
  doc/component-operation-guide-lts/source/using_hetuengine/hetuengine_permission_management/hetuengine_metastore-based_permission_control/configuring_permissions_for_tables_columns_and_databases.rst
  doc/component-operation-guide-lts/source/using_hetuengine/hetuengine_permission_management/hetuengine_metastore-based_permission_control/index.rst
  doc/component-operation-guide-lts/source/using_hetuengine/index.rst
  doc/component-operation-guide-lts/source/using_hive/permission_management/configuring_permissions_for_hive_tables_columns_or_databases.rst
  doc/component-operation-guide-lts/source/using_hive/permission_management/index.rst
  doc/component-operation-guide-lts/source/using_loader/operator_help/associating_editing_importing_or_exporting_the_field_configuration_of_an_operator.rst
  doc/component-operation-guide-lts/source/using_loader/operator_help/index.rst
  doc/component-operation-guide-lts/source/using_mapreduce/common_issues_about_mapreduce/after_the_address_of_mapreduce_jobhistoryserver_is_changed_why_the_wrong_page_is_displayed_when_i_click_the_tracking_url_on_the_resourcemanager_webui.rst
  doc/component-operation-guide-lts/source/using_mapreduce/common_issues_about_mapreduce/index.rst
  doc/component-operation-guide-lts/source/using_ranger/common_issues_about_ranger/index.rst
  doc/component-operation-guide-lts/source/using_ranger/common_issues_about_ranger/when_an_hbase_policy_is_added_or_modified_on_ranger_wildcard_characters_cannot_be_used_to_search_for_existing_hbase_tables.rst
  doc/component-operation-guide-lts/source/using_spark2x/basic_operation/sparksql_permission_managementsecurity_mode/configuring_permissions_for_sparksql_tables_columns_and_databases.rst
  doc/component-operation-guide-lts/source/using_spark2x/basic_operation/sparksql_permission_managementsecurity_mode/index.rst
  doc/component-operation-guide-lts/source/using_spark2x/common_issues_about_spark2x/spark_sql_and_dataframe/if_i_access_a_parquet_table_on_which_i_do_not_have_permission_why_a_job_is_run_before_missing_privileges_is_displayed.rst
  doc/component-operation-guide-lts/source/using_spark2x/common_issues_about_spark2x/spark_sql_and_dataframe/index.rst
Due: build-otc-mrs-operation-guide-lts

Synchronize Component Operation Guide (LTS) (#41)
  doc/component-operation-guide-lts/source/using_flink/flink_configuration_management/index.rst
  doc/component-operation-guide-lts/source/using_flink/flink_configuration_management/jobmanager_and_taskmanager.rst
  doc/component-operation-guide-lts/source/using_hbase/common_issues_about_hbase/how_do_i_delete_residual_table_names_in_the_hbase_table-lock_directory_of_zookeeper.rst
  doc/component-operation-guide-lts/source/using_hbase/common_issues_about_hbase/index.rst
  doc/component-operation-guide-lts/source/using_hbase/common_issues_about_hbase/why_does_the_hbase_bulkload_task_one_table_has_26_tb_data_consisting_of_210000_map_tasks_and_10000_reduce_tasks_fail.rst
  doc/component-operation-guide-lts/source/using_hdfs/faq/index.rst
  doc/component-operation-guide-lts/source/using_hdfs/faq/when_does_a_balance_process_in_hdfs_shut_down_and_fail_to_be_executed_again.rst
  doc/component-operation-guide-lts/source/using_hdfs/faq/why_does_the_distcp_command_fail_in_the_secure_cluster_causing_an_exception.rst
  doc/component-operation-guide-lts/source/using_hetuengine/function_and_udf_development_and_application/hetuengine_function_plugin_development_and_application.rst
  doc/component-operation-guide-lts/source/using_hetuengine/function_and_udf_development_and_application/hive_udf_development_and_application.rst
  doc/component-operation-guide-lts/source/using_hetuengine/function_and_udf_development_and_application/index.rst
  doc/component-operation-guide-lts/source/using_hetuengine/hetuengine_permission_management/hetuengine_metastore-based_permission_control/configuring_permissions_for_tables_columns_and_databases.rst
  doc/component-operation-guide-lts/source/using_hetuengine/hetuengine_permission_management/hetuengine_metastore-based_permission_control/index.rst
  doc/component-operation-guide-lts/source/using_hetuengine/index.rst
  doc/component-operation-guide-lts/source/using_hive/permission_management/configuring_permissions_for_hive_tables_columns_or_databases.rst
  doc/component-operation-guide-lts/source/using_hive/permission_management/index.rst
  doc/component-operation-guide-lts/source/using_loader/operator_help/associating_editing_importing_or_exporting_the_field_configuration_of_an_operator.rst
  doc/component-operation-guide-lts/source/using_loader/operator_help/index.rst
  doc/component-operation-guide-lts/source/using_mapreduce/common_issues_about_mapreduce/after_the_address_of_mapreduce_jobhistoryserver_is_changed_why_the_wrong_page_is_displayed_when_i_click_the_tracking_url_on_the_resourcemanager_webui.rst
  doc/component-operation-guide-lts/source/using_mapreduce/common_issues_about_mapreduce/index.rst
  doc/component-operation-guide-lts/source/using_ranger/common_issues_about_ranger/index.rst
  doc/component-operation-guide-lts/source/using_ranger/common_issues_about_ranger/when_an_hbase_policy_is_added_or_modified_on_ranger_wildcard_characters_cannot_be_used_to_search_for_existing_hbase_tables.rst
  doc/component-operation-guide-lts/source/using_spark2x/basic_operation/sparksql_permission_managementsecurity_mode/configuring_permissions_for_sparksql_tables_columns_and_databases.rst
  doc/component-operation-guide-lts/source/using_spark2x/basic_operation/sparksql_permission_managementsecurity_mode/index.rst
  doc/component-operation-guide-lts/source/using_spark2x/common_issues_about_spark2x/spark_sql_and_dataframe/if_i_access_a_parquet_table_on_which_i_do_not_have_permission_why_a_job_is_run_before_missing_privileges_is_displayed.rst
  doc/component-operation-guide-lts/source/using_spark2x/common_issues_about_spark2x/spark_sql_and_dataframe/index.rst
Due: build-otc-mrs-operation-guide-lts

Synchronize Component Operation Guide
  doc/component-operation-guide/source/using_flink/flink_configuration_management/index.rst
  doc/component-operation-guide/source/using_flink/flink_configuration_management/jobmanager_and_taskmanager.rst
  doc/component-operation-guide/source/using_hbase/common_issues_about_hbase/how_do_i_delete_residual_table_names_in_the_hbase_table-lock_directory_of_zookeeper.rst
  doc/component-operation-guide/source/using_hbase/common_issues_about_hbase/index.rst
  doc/component-operation-guide/source/using_hbase/common_issues_about_hbase/why_does_the_hbase_bulkload_task_one_table_has_26_tb_data_consisting_of_210000_map_tasks_and_10000_reduce_tasks_fail.rst
  doc/component-operation-guide/source/using_hdfs/faq/index.rst
  doc/component-operation-guide/source/using_hdfs/faq/when_does_a_balance_process_in_hdfs_shut_down_and_fail_to_be_executed_again.rst
  doc/component-operation-guide/source/using_hdfs/faq/why_does_the_distcp_command_fail_in_the_secure_cluster_causing_an_exception.rst
  doc/component-operation-guide/source/using_hive/permission_management/configuring_permissions_for_hive_tables_columns_or_databases.rst
  doc/component-operation-guide/source/using_hive/permission_management/index.rst
  doc/component-operation-guide/source/using_mapreduce/common_issues_about_mapreduce/after_the_address_of_mapreduce_jobhistoryserver_is_changed_why_the_wrong_page_is_displayed_when_i_click_the_tracking_url_on_the_resourcemanager_webui.rst
  doc/component-operation-guide/source/using_mapreduce/common_issues_about_mapreduce/index.rst
  doc/component-operation-guide/source/using_ranger_mrs_3.x/common_issues_about_ranger/index.rst
  doc/component-operation-guide/source/using_ranger_mrs_3.x/common_issues_about_ranger/when_an_hbase_policy_is_added_or_modified_on_ranger_wildcard_characters_cannot_be_used_to_search_for_existing_hbase_tables.rst
  doc/component-operation-guide/source/using_spark2x/basic_operation/sparksql_permission_managementsecurity_mode/configuring_permissions_for_sparksql_tables_columns_and_databases.rst
  doc/component-operation-guide/source/using_spark2x/basic_operation/sparksql_permission_managementsecurity_mode/index.rst
  doc/component-operation-guide/source/using_spark2x/common_issues_about_spark2x/spark_sql_and_dataframe/if_i_access_a_parquet_table_on_which_i_do_not_have_permission_why_a_job_is_run_before_missing_privileges_is_displayed.rst
  doc/component-operation-guide/source/using_spark2x/common_issues_about_spark2x/spark_sql_and_dataframe/index.rst
Due: build-otc-mrs-operation-guide

Synchronize Component Operation Guide (#42)
  doc/component-operation-guide/source/using_flink/flink_configuration_management/index.rst
  doc/component-operation-guide/source/using_flink/flink_configuration_management/jobmanager_and_taskmanager.rst
  doc/component-operation-guide/source/using_hbase/common_issues_about_hbase/how_do_i_delete_residual_table_names_in_the_hbase_table-lock_directory_of_zookeeper.rst
  doc/component-operation-guide/source/using_hbase/common_issues_about_hbase/index.rst
  doc/component-operation-guide/source/using_hbase/common_issues_about_hbase/why_does_the_hbase_bulkload_task_one_table_has_26_tb_data_consisting_of_210000_map_tasks_and_10000_reduce_tasks_fail.rst
  doc/component-operation-guide/source/using_hdfs/faq/index.rst
  doc/component-operation-guide/source/using_hdfs/faq/when_does_a_balance_process_in_hdfs_shut_down_and_fail_to_be_executed_again.rst
  doc/component-operation-guide/source/using_hdfs/faq/why_does_the_distcp_command_fail_in_the_secure_cluster_causing_an_exception.rst
  doc/component-operation-guide/source/using_hive/permission_management/configuring_permissions_for_hive_tables_columns_or_databases.rst
  doc/component-operation-guide/source/using_hive/permission_management/index.rst
  doc/component-operation-guide/source/using_mapreduce/common_issues_about_mapreduce/after_the_address_of_mapreduce_jobhistoryserver_is_changed_why_the_wrong_page_is_displayed_when_i_click_the_tracking_url_on_the_resourcemanager_webui.rst
  doc/component-operation-guide/source/using_mapreduce/common_issues_about_mapreduce/index.rst
  doc/component-operation-guide/source/using_ranger_mrs_3.x/common_issues_about_ranger/index.rst
  doc/component-operation-guide/source/using_ranger_mrs_3.x/common_issues_about_ranger/when_an_hbase_policy_is_added_or_modified_on_ranger_wildcard_characters_cannot_be_used_to_search_for_existing_hbase_tables.rst
  doc/component-operation-guide/source/using_spark2x/basic_operation/sparksql_permission_managementsecurity_mode/configuring_permissions_for_sparksql_tables_columns_and_databases.rst
  doc/component-operation-guide/source/using_spark2x/basic_operation/sparksql_permission_managementsecurity_mode/index.rst
  doc/component-operation-guide/source/using_spark2x/common_issues_about_spark2x/spark_sql_and_dataframe/if_i_access_a_parquet_table_on_which_i_do_not_have_permission_why_a_job_is_run_before_missing_privileges_is_displayed.rst
  doc/component-operation-guide/source/using_spark2x/common_issues_about_spark2x/spark_sql_and_dataframe/index.rst
Due: build-otc-mrs-operation-guide

Update content
  umn/source/conf.py
  umn/source/index.rst
Due: none

fixing broken patch
  umn/source/conf.py
Due: none

Update content
  api-ref/source/conf.py
  doc/component-operation-guide-lts/source/conf.py
  doc/requirements.txt
  doc/source/_static/placeholder
  doc/source/conf.py
  doc/source/index.rst
  tox.ini
  umn/source/conf.py
Due: build-otc-mrs-operation-guide-lts

Update tox.ini && conf.py file
  api-ref/source/conf.py
  doc/component-operation-guide-lts/source/conf.py
  doc/component-operation-guide/source/conf.py
  doc/source/conf.py
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

Update tox.ini && conf.py file (#48)
  api-ref/source/conf.py
  doc/component-operation-guide-lts/source/conf.py
  doc/component-operation-guide/source/conf.py
  doc/source/conf.py
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

fixing broken patch
  api-ref/source/index.rst
  doc/component-operation-guide-lts/source/index.rst
  doc/component-operation-guide/source/index.rst
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

fixing broken patch (#45)
  api-ref/source/index.rst
  doc/component-operation-guide-lts/source/index.rst
  doc/component-operation-guide/source/index.rst
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

Update tox.ini && conf.py file
  api-ref/source/conf.py
  doc/component-operation-guide-lts/source/conf.py
  doc/component-operation-guide/source/conf.py
  umn/source/conf.py
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

Update content
  umn/source/conf.py
Due: none

Update content
  doc/component-operation-guide/source/conf.py
Due: build-otc-mrs-operation-guide

Update content
  api-ref/source/conf.py
Due: none

Update tox.ini && conf.py file (#49)
  api-ref/source/conf.py
  doc/component-operation-guide-lts/source/conf.py
  doc/component-operation-guide/source/conf.py
  umn/source/conf.py
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

Update content
  api-ref/source/apis/cluster_management_apis_v1/creating_a_cluster_and_running_a_job.rst
  api-ref/source/apis/cluster_management_apis_v1/querying_a_cluster_list.rst
  api-ref/source/apis/cluster_management_apis_v1/querying_cluster_details.rst
  api-ref/source/apis/cluster_management_apis_v2/creating_clusters.rst
  api-ref/source/appendix/error_code.rst
  api-ref/source/appendix/index.rst
  api-ref/source/appendix/roles_and_components_supported_by_mrs.rst
  api-ref/source/change_history.rst
Due: none

Update tox.ini && conf.py file
  api-ref/source/conf.py
  doc/component-operation-guide-lts/source/conf.py
  doc/component-operation-guide/source/conf.py
  tox.ini
  umn/source/conf.py
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

Update tox.ini && conf.py file (#56)
  api-ref/source/conf.py
  doc/component-operation-guide-lts/source/conf.py
  doc/component-operation-guide/source/conf.py
  tox.ini
  umn/source/conf.py
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

Update content
  api-ref/source/appendix/ecs_specifications_used_by_mrs.rst
Due: none

Synchronize API Reference
  api-ref/source/_static/images/.placeholder
  api-ref/source/apis/cluster_management_apis_v1/creating_a_cluster_and_running_a_job.rst
  api-ref/source/apis/cluster_management_apis_v1/querying_a_cluster_list.rst
  api-ref/source/apis/cluster_management_apis_v1/querying_cluster_details.rst
  api-ref/source/apis/cluster_management_apis_v2/creating_clusters.rst
  api-ref/source/appendix/ecs_specifications_used_by_mrs.rst
  api-ref/source/appendix/error_code.rst
  api-ref/source/appendix/index.rst
  api-ref/source/appendix/roles_and_components_supported_by_mrs.rst
  api-ref/source/change_history.rst
Due: none

Synchronize API Reference (#58)
  api-ref/source/_static/images/.placeholder
  api-ref/source/apis/cluster_management_apis_v1/creating_a_cluster_and_running_a_job.rst
  api-ref/source/apis/cluster_management_apis_v1/querying_a_cluster_list.rst
  api-ref/source/apis/cluster_management_apis_v1/querying_cluster_details.rst
  api-ref/source/apis/cluster_management_apis_v2/creating_clusters.rst
  api-ref/source/appendix/ecs_specifications_used_by_mrs.rst
  api-ref/source/appendix/error_code.rst
  api-ref/source/appendix/index.rst
  api-ref/source/appendix/roles_and_components_supported_by_mrs.rst
  api-ref/source/change_history.rst
Due: none

Re-applying changes from docs-exports PR#88
  umn/source/change_history.rst
  umn/source/configuring_a_cluster/creating_a_custom_cluster.rst
  umn/source/configuring_a_cluster/installing_third-party_software_using_bootstrap_actions.rst
  umn/source/fusioninsight_manager_operation_guide_applicable_to_3.x/alarm_reference_applicable_to_mrs_3.x/alm-24010_flume_certificate_file_is_invalid_or_damaged.rst
  umn/source/fusioninsight_manager_operation_guide_applicable_to_3.x/alarm_reference_applicable_to_mrs_3.x/alm-24011_flume_certificate_file_is_about_to_expire.rst
  umn/source/fusioninsight_manager_operation_guide_applicable_to_3.x/alarm_reference_applicable_to_mrs_3.x/alm-24012_flume_certificate_file_has_expired.rst
  umn/source/fusioninsight_manager_operation_guide_applicable_to_3.x/alarm_reference_applicable_to_mrs_3.x/alm-24013_flume_monitorserver_certificate_file_is_invalid_or_damaged.rst
  umn/source/fusioninsight_manager_operation_guide_applicable_to_3.x/alarm_reference_applicable_to_mrs_3.x/alm-24014_flume_monitorserver_certificate_is_about_to_expire.rst
  umn/source/fusioninsight_manager_operation_guide_applicable_to_3.x/alarm_reference_applicable_to_mrs_3.x/alm-24015_flume_monitorserver_certificate_file_has_expired.rst
  umn/source/fusioninsight_manager_operation_guide_applicable_to_3.x/security_management/security_overview/user_account_list.rst
  umn/source/managing_clusters/bootstrap_actions/adding_a_bootstrap_action.rst
Due: none

Update tox.ini && conf.py file
  doc/source/conf.py
Due: none

Re-applying changes from docs-exports PR#88 (#60)
  umn/source/change_history.rst
  umn/source/configuring_a_cluster/creating_a_custom_cluster.rst
  umn/source/configuring_a_cluster/installing_third-party_software_using_bootstrap_actions.rst
  umn/source/fusioninsight_manager_operation_guide_applicable_to_3.x/alarm_reference_applicable_to_mrs_3.x/alm-24010_flume_certificate_file_is_invalid_or_damaged.rst
  umn/source/fusioninsight_manager_operation_guide_applicable_to_3.x/alarm_reference_applicable_to_mrs_3.x/alm-24011_flume_certificate_file_is_about_to_expire.rst
  umn/source/fusioninsight_manager_operation_guide_applicable_to_3.x/alarm_reference_applicable_to_mrs_3.x/alm-24012_flume_certificate_file_has_expired.rst
  umn/source/fusioninsight_manager_operation_guide_applicable_to_3.x/alarm_reference_applicable_to_mrs_3.x/alm-24013_flume_monitorserver_certificate_file_is_invalid_or_damaged.rst
  umn/source/fusioninsight_manager_operation_guide_applicable_to_3.x/alarm_reference_applicable_to_mrs_3.x/alm-24014_flume_monitorserver_certificate_is_about_to_expire.rst
  umn/source/fusioninsight_manager_operation_guide_applicable_to_3.x/alarm_reference_applicable_to_mrs_3.x/alm-24015_flume_monitorserver_certificate_file_has_expired.rst
  umn/source/fusioninsight_manager_operation_guide_applicable_to_3.x/security_management/security_overview/user_account_list.rst
  umn/source/managing_clusters/bootstrap_actions/adding_a_bootstrap_action.rst
Due: none

Update content
  api-ref/source/apis/auto_scaling_apis_v2/index.rst
  api-ref/source/apis/auto_scaling_apis_v2/viewing_auto_scaling_policies.rst
  api-ref/source/apis/cluster_management_apis_v1/creating_a_cluster_and_running_a_job.rst
  api-ref/source/apis/cluster_management_apis_v1/querying_a_cluster_list.rst
  api-ref/source/apis/cluster_management_apis_v1/querying_cluster_details.rst
  api-ref/source/apis/cluster_management_apis_v2/changing_a_cluster_name.rst
  api-ref/source/apis/cluster_management_apis_v2/creating_clusters.rst
  api-ref/source/apis/cluster_management_apis_v2/index.rst
  api-ref/source/apis/index.rst
  api-ref/source/change_history.rst
Due: none

Update content
  umn/source/change_history.rst
  umn/source/configuring_a_cluster/creating_a_custom_cluster.rst
  umn/source/configuring_a_cluster/installing_third-party_software_using_bootstrap_actions.rst
Due: none

Update content
  doc/requirements.txt
  tox.ini
Due: none

Update tox.ini && conf.py file
  doc/best-practice/source/conf.py
  doc/requirements.txt
  tox.ini
Due: none

fix best practice PR
  doc/best-practice/source/_static/.placeholder
  doc/best-practice/source/docutils.conf
  doc/best-practice/source/index.rst
Due: none

Update tox.ini && conf.py file (#64)
  doc/best-practice/source/_static/.placeholder
  doc/best-practice/source/conf.py
  doc/best-practice/source/docutils.conf
  doc/best-practice/source/index.rst
  doc/requirements.txt
  tox.ini
Due: none

Path conditions:
  build-otc-mrs-operation-guide-lts: any of: ^doc/component-operation-guide-lts/source/.*
  build-otc-mrs-operation-guide: any of: ^doc/component-operation-guide/source/.*
