Repository opentelekomcloud-docs/mapreduce-service: changes, and which Zuul jobs are due for each by the changed paths.
All: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

zuul.yaml:

- job:
    name: build-otc-mrs-operation-guide-lts
    parent: otc-tox-docs
    description: Build operation-guide-lts document using tox
    files:
    - ^doc/component-operation-guide-lts/source/.*
    vars:
      tox_envlist: operation-guide-lts
- job:
    name: build-otc-mrs-operation-guide
    parent: otc-tox-docs
    description: Build operation-guide document using tox
    files:
    - ^doc/component-operation-guide/source/.*
    vars:
      tox_envlist: operation-guide
- project:
    merge-mode: squash-merge
    default-branch: main
    templates:
    - api-ref-hc-jobs
    - umn-hc-jobs
    - helpcenter-base-jobs
    check:
      # Separate documents are rendered in check, while published through regular otc-tox-docs job part of the basic template
      jobs:
      - noop
      - build-otc-mrs-operation-guide
      - build-otc-mrs-operation-guide-lts

Update content
  api-ref/source/apis/cluster_management_apis_v1/creating_a_cluster_and_running_a_job.rst
  api-ref/source/apis/cluster_management_apis_v1/querying_a_cluster_list.rst
  api-ref/source/apis/cluster_management_apis_v1/querying_cluster_details.rst
  api-ref/source/apis/cluster_management_apis_v2/creating_clusters.rst
  api-ref/source/apis/job_object_apis_v2/querying_a_list_of_jobs.rst
  api-ref/source/apis/job_object_apis_v2/querying_information_about_a_job.rst
  api-ref/source/change_history.rst
Due: none

Update content
  doc/requirements.txt
  tox.ini
Due: none

Update tox.ini && conf.py file
  doc/requirements.txt
  tox.ini
  zuul.yaml
Due: none

Update tox.ini && conf.py file (#68)
  doc/requirements.txt
  tox.ini
  zuul.yaml
Due: none

Update content
  api-ref/source/_static/images/en-us_image_0000001351245889.gif
  api-ref/source/_static/images/en-us_image_0000001829015345.png
  api-ref/source/apis/job_object_apis_v2/querying_a_list_of_jobs.rst
  api-ref/source/apis/job_object_apis_v2/querying_information_about_a_job.rst
  api-ref/source/before_you_start/concepts.rst
  api-ref/source/change_history.rst
Due: none

Update content
  doc/component-operation-guide-lts/source/using_flume/flume_configuration_parameter_description.rst
  doc/component-operation-guide-lts/source/using_spark2x/basic_operation/sparksql_permission_managementsecurity_mode/configuring_permissions_for_sparksql_tables_columns_and_databases.rst
Due: build-otc-mrs-operation-guide-lts

Update content
  doc/component-operation-guide/source/using_flume/flume_configuration_parameter_description.rst
  doc/component-operation-guide/source/using_spark2x/basic_operation/sparksql_permission_managementsecurity_mode/configuring_permissions_for_sparksql_tables_columns_and_databases.rst
Due: build-otc-mrs-operation-guide

Update tox.ini && conf.py file
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/component-operation-guide-lts/source/conf.py
  doc/component-operation-guide/source/conf.py
  doc/requirements.txt
  doc/source/conf.py
  tox.ini
  umn/source/conf.py
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

Update tox.ini && conf.py file (#74)
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/component-operation-guide-lts/source/conf.py
  doc/component-operation-guide/source/conf.py
  doc/requirements.txt
  doc/source/conf.py
  tox.ini
  umn/source/conf.py
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

Update content
  doc/component-operation-guide/source/_static/images/en-us_image_0000001533052357.png
  doc/component-operation-guide/source/appendix/using_an_mrs_client/installing_a_client_version_3.x_or_later.rst
  doc/component-operation-guide/source/change_history.rst
  doc/component-operation-guide/source/using_carbondata_for_mrs_3.x_or_later/carbondata_faq/how_do_i_logically_split_data_across_different_namespaces.rst
  doc/component-operation-guide/source/using_clickhouse/creating_a_clickhouse_table.rst
  doc/component-operation-guide/source/using_clickhouse/migrating_clickhouse_data/using_the_clickhouse_data_migration_tool.rst
  doc/component-operation-guide/source/using_flink/using_the_flink_web_ui/flinkserver_permissions_management/authentication_based_on_users_and_roles.rst
  doc/component-operation-guide/source/using_flume/using_flume_from_scratch.rst
  doc/component-operation-guide/source/using_hbase/configuring_hbase_parameters.rst
  doc/component-operation-guide/source/using_hbase/configuring_hbase_replication.rst
  doc/component-operation-guide/source/using_hbase/enabling_cross-cluster_copy.rst
  doc/component-operation-guide/source/using_hbase/geomesa_command_line.rst
  doc/component-operation-guide/source/using_hbase/index.rst
  doc/component-operation-guide/source/using_hbase/using_hbase_from_scratch.rst
  doc/component-operation-guide/source/using_hive/hive_materialized_view.rst
  doc/component-operation-guide/source/using_hive/hive_performance_tuning/optimizing_join.rst
  doc/component-operation-guide/source/using_hive/index.rst
  doc/component-operation-guide/source/using_hive/permission_management/configuring_permissions_to_use_other_components_for_hive.rst
  doc/component-operation-guide/source/using_hive/permission_management/creating_a_hive_role.rst
  doc/component-operation-guide/source/using_hive/using_hive_from_scratch.rst
  doc/component-operation-guide/source/using_hue_mrs_3.x_or_later/accessing_the_hue_web_ui.rst
  doc/component-operation-guide/source/using_hue_versions_earlier_than_mrs_3.x/accessing_the_hue_web_ui.rst
  doc/component-operation-guide/source/using_kafka/kafka_specifications.rst
  doc/component-operation-guide/source/using_kafka/synchronizing_binlog-based_mysql_data_to_the_mrs_cluster.rst
  doc/component-operation-guide/source/using_presto/using_a_client_to_execute_query_statements.rst
  doc/component-operation-guide/source/using_spark/using_the_spark_client.rst
  doc/component-operation-guide/source/using_spark2x/common_issues_about_spark2x/spark_core/why_does_the_out_of_memory_error_occur_in_nodemanager_during_the_execution_of_spark_applications.rst
  doc/component-operation-guide/source/using_spark2x/common_issues_about_spark2x/spark_sql_and_dataframe/why_cannot_i_query_newly_inserted_data_in_a_parquet_hive_table_using_sparksql.rst
  doc/component-operation-guide/source/using_spark2x/spark2x_performance_tuning/spark_sql_and_dataframe_tuning/multiple_jdbc_clients_concurrently_connecting_to_jdbcserver.rst
  doc/component-operation-guide/source/using_spark2x/spark2x_performance_tuning/spark_sql_and_dataframe_tuning/optimizing_the_spark_sql_join_operation.rst
Due: build-otc-mrs-operation-guide

Update content
  api-ref/source/apis/cluster_management_apis_v1/creating_a_cluster_and_running_a_job.rst
  api-ref/source/apis/cluster_management_apis_v1/querying_a_cluster_list.rst
  api-ref/source/apis/cluster_management_apis_v1/querying_cluster_details.rst
  api-ref/source/apis/cluster_management_apis_v2/creating_clusters.rst
  api-ref/source/apis/job_object_apis_v1_not_recommended/adding_a_job_and_executing_the_job.rst
  api-ref/source/apis/job_object_apis_v2/adding_and_executing_a_job.rst
  api-ref/source/apis/job_object_apis_v2/querying_a_list_of_jobs.rst
  api-ref/source/apis/job_object_apis_v2/querying_information_about_a_job.rst
  api-ref/source/appendix/error_code.rst
  api-ref/source/appendix/obtaining_a_project_id.rst
  api-ref/source/appendix/roles_and_components_supported_by_mrs.rst
  api-ref/source/before_you_start/endpoints.rst
  api-ref/source/calling_apis/authentication.rst
  api-ref/source/calling_apis/making_an_api_request.rst
  api-ref/source/change_history.rst
  api-ref/source/mrs_manager_api/api_usage_guide/introduction_to_mrs_manager_apis.rst
Due: none

Update content
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/component-operation-guide-lts/source/conf.py
  doc/component-operation-guide/source/conf.py
  tox.ini
  umn/source/conf.py
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

Update content
  api-ref/source/apis/cluster_management_apis_v1/creating_a_cluster_and_running_a_job.rst
  api-ref/source/apis/cluster_management_apis_v2/creating_clusters.rst
  api-ref/source/apis/job_object_apis_v1_not_recommended/adding_a_job_and_executing_the_job.rst
  api-ref/source/apis/job_object_apis_v2/adding_and_executing_a_job.rst
  api-ref/source/apis/job_object_apis_v2/querying_a_list_of_jobs.rst
  api-ref/source/apis/job_object_apis_v2/querying_information_about_a_job.rst
  api-ref/source/appendix/error_code.rst
Due: none

Update tox.ini && conf.py file
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/component-operation-guide-lts/source/conf.py
  doc/component-operation-guide/source/conf.py
  doc/source/conf.py
  tox.ini
  umn/source/conf.py
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

Update tox.ini && conf.py file (#81)
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/component-operation-guide-lts/source/conf.py
  doc/component-operation-guide/source/conf.py
  doc/source/conf.py
  tox.ini
  umn/source/conf.py
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

Update tox.ini && conf.py file (#82)
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/component-operation-guide-lts/source/conf.py
  doc/component-operation-guide/source/conf.py
  doc/source/conf.py
  tox.ini
  umn/source/conf.py
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

Update tox.ini && conf.py file
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/component-operation-guide-lts/source/conf.py
  doc/component-operation-guide/source/conf.py
  tox.ini
  umn/source/conf.py
  zuul.yaml
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

Update content
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/component-operation-guide-lts/source/conf.py
  doc/component-operation-guide/source/conf.py
  tox.ini
  umn/source/conf.py
  zuul.yaml
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

Update content
  doc/source/index.rst
Due: none

Update tox.ini && conf.py file (#86)
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/component-operation-guide-lts/source/conf.py
  doc/component-operation-guide/source/conf.py
  tox.ini
  umn/source/conf.py
  zuul.yaml
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

Update tox.ini && conf.py file
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/component-operation-guide-lts/source/conf.py
  doc/component-operation-guide/source/conf.py
  doc/source/conf.py
  umn/source/conf.py
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

Update tox.ini && conf.py file (#89)
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/component-operation-guide-lts/source/conf.py
  doc/component-operation-guide/source/conf.py
  doc/source/conf.py
  umn/source/conf.py
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

Update tox.ini && conf.py file (#90)
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/component-operation-guide-lts/source/conf.py
  doc/component-operation-guide/source/conf.py
  doc/requirements.txt
  doc/source/conf.py
  tox.ini
  umn/source/conf.py
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

Update content
  _templates/longtable.tex.jinja
  _templates/tabular.tex.jinja
  _templates/tabulary.tex.jinja
  bindep.txt
  packages.txt
  umn/source/_templates/longtable.tex.jinja
  umn/source/_templates/tabular.tex.jinja
  umn/source/_templates/tabulary.tex.jinja
Due: none

Update tox.ini && conf.py file
  doc/requirements.txt
Due: none

Update tox.ini && conf.py file (#92)
  doc/requirements.txt
Due: none

Update tox.ini && conf.py file (#93)
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/component-operation-guide-lts/source/conf.py
  doc/component-operation-guide/source/conf.py
  doc/source/conf.py
  umn/source/conf.py
Due: build-otc-mrs-operation-guide-lts, build-otc-mrs-operation-guide

Update content
  umn/source/_static/images/en-us_image_0000001782327888.png
  umn/source/_static/images/en-us_image_0000001782347050.png
  umn/source/_static/images/en-us_image_0000001782506694.png
  umn/source/_static/images/en-us_image_0000001782509630.png
  umn/source/_static/images/en-us_image_0000001828886549.png
  umn/source/_static/images/en-us_image_0000001829060901.png
  umn/source/_static/images/en-us_image_0000001829066453.png
  umn/source/_static/images/en-us_image_0000001829186485.png
  umn/source/_static/images/en-us_image_0000001830029997.png
  umn/source/_static/images/en-us_image_0000002243257660.png
  umn/source/_static/images/en-us_image_0000002243537010.png
  umn/source/_static/images/en-us_image_0000002243727990.png
  umn/source/_static/images/en-us_image_0000002278171933.png
  umn/source/_static/images/en-us_image_0000002278292689.png
  umn/source/_static/images/en-us_image_0000002278456009.png
  umn/source/_static/images/en-us_image_0000002278456193.png
  umn/source/_static/images/en-us_image_0000002278536077.png
  umn/source/_static/images/en-us_image_0000002278903341.png
  umn/source/change_history.rst
  umn/source/configuring_a_cluster/creating_a_custom_cluster.rst
  umn/source/configuring_a_cluster_with_storage_and_compute_decoupled/interconnecting_with_obs_using_the_cluster_agency_mechanism/configuring_a_storage-compute_decoupled_cluster_agency.rst
  umn/source/configuring_a_cluster_with_storage_and_compute_decoupled/interconnecting_with_obs_using_the_guardian_service/interconnecting_components_with_obs_using_guardian/interconnecting_yarn_with_obs.rst
  umn/source/faq/cluster_access/how_do_i_interconnect_mrs_with_lts.rst
  umn/source/faq/cluster_access/index.rst
  umn/source/mrs_manager_operation_guide_applicable_to_2.x_and_earlier_versions/static_service_pool_management/configuring_a_static_service_pool.rst
  umn/source/mrs_manager_operation_guide_applicable_to_2.x_and_earlier_versions/tenant_management/configuring_a_queue.rst
  umn/source/mrs_manager_operation_guide_applicable_to_3.x/alarm_reference_applicable_to_mrs_3.x/alm-12033_slow_disk_fault.rst
  umn/source/mrs_manager_operation_guide_applicable_to_3.x/alarm_reference_applicable_to_mrs_3.x/alm-13006_znode_number_or_capacity_exceeds_the_threshold.rst
  umn/source/mrs_manager_operation_guide_applicable_to_3.x/alarm_reference_applicable_to_mrs_3.x/alm-13007_available_zookeeper_client_connections_are_insufficient.rst
  umn/source/mrs_manager_operation_guide_applicable_to_3.x/backup_and_recovery_management/recovering_data/restoring_namenode_data.rst
  umn/source/mrs_manager_operation_guide_applicable_to_3.x/cluster/managing_a_service/other_service_management_operations/switching_ranger_authentication.rst
  umn/source/mrs_manager_operation_guide_applicable_to_3.x/security_management/security_hardening/hardening_policies.rst
  umn/source/mrs_manager_operation_guide_applicable_to_3.x/security_management/security_overview/permission_verification_policies.rst
  umn/source/preparing_a_user/creating_an_mrs_user.rst
  umn/source/preparing_a_user/synchronizing_iam_users_to_mrs.rst
Due: none

Update content
  umn/source/faq/mrs_overview/what_are_the_solutions_for_processing_1_billion_data_records.rst
Due: none

Update content
  tox.ini
  zuul.yaml
Due: none
